.main {
    background: url(../images/fon.jpg);
    background-size: cover;
  }
.chat{
    background: gainsboro;
}
#container {
    max-width: 800px;
    margin:0 auto;
    background-color: azure;
    padding: 10px;
}
header {
    background-color: rgba(127, 255, 212, 0.334);
    padding:10px;
}
nav {
    background: burlywood;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    color: black;
    background: rgb(195, 132, 51);
    padding: 2px 15px 2px 15px;
    border-radius: 3px;
    transition: 1s;
}
nav a:hover {
    background: orange;
    color: white;
}
  h1 {
    color: darkolivegreen;
    text-align: left;
  }
  .second, footer {
    color: blue;
  }
.images {
    display: flex;
    justify-content: center;
}
img {
    
    width: 250px;
  }
li {
    padding: 0 0 0 20px;
  }
footer {
   background-color: rgb(14, 240, 165);
   padding: 10px;
  }